In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("./Crimedata.csv")

c:\Users\meske\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (15,40,41,42,43,44,45,46,52,53,54,71,77,78,79,80,82,83,84,85,101,102,103,104,105,130,131,137,153,154,155,156,157,163,164,165,181,182,183,184,191,207,208,209,213,217,233,234,235,236,237,261,262,263,285,286,287,291,307,308,309,310,311,336,337,338,339,361,362,363,366,367,383,384,385,386,387,419,480,547,555,561,562,563,732,734,736,740,752,754,756,760,800,865,866,867,868,869,870,891,917,965,1006,1007,1085,1086,1087,1148,1167,1218,1219,1243,1245,1246,1248,1251,1252,1257,1260,1269,1285,1326,1328,1338,1340,1350,1352,1354,1368,1397,2084,2085,2086,2091) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
data.rename(columns={"V1267":"Alcohol","V1327":"Marijuana","V1330":"Heroin","V1328":"Cocaine","RV0001":"Age","RV0003":"Race","RV0005":"Sex","V0772":"State"},inplace=True)

In [3]:
data[["Alcohol","Marijuana","Heroin","Cocaine","Age","Sex","Race","State"]]

,Alcohol,Marijuana,Heroin,Cocaine,Age,Sex,Race,State
0,(2) 2 = No,NaN,NaN,NaN,51,(1) 1 = Male,(1) 1 = White (NH),GA
1,(2) 2 = No,(1) 1 = Yes,NaN,NaN,29,(1) 1 = Male,(1) 1 = White (NH),SC
2,(2) 2 = No,(2) 2 = No,NaN,(2) 2 = No,43,(2) 2 = Female,(1) 1 = White (NH),IN
3,(1) 1 = Yes,(2) 2 = No,(2) 2 = No,(2) 2 = No,45,(1) 1 = Male,(1) 1 = White (NH),CA
4,(2) 2 = No,NaN,NaN,NaN,31,(2) 2 = Female,(2) 2 = Black (NH),OH
...,...,...,...,...,...,...,...,...
24843,(1) 1 = Yes,NaN,NaN,NaN,32,(1) 1 = Male,(2) 2 = Black (NH),VA
24844,(2) 2 = No,(1) 1 = Yes,NaN,(2) 2 = No,36,(1) 1 = Male,(1) 1 = White (NH),MI
24845,(2) 2 = No,NaN,NaN,NaN,34,(1) 1 = Male,(1) 1 = White (NH),GA
24846,(2) 2 = No,(2) 2 = No,(1) 1 = Yes,(2) 2 = No,66,(1) 1 = Male,(3) 3 = Hispanic,TX
24847,(2) 2 = No,NaN,NaN,NaN,29,(1) 1 = Male,(2) 2 = Black (NH),CO

In [29]:
data["V0771"]

0        (999) 999 = Variable Suppressed
1        (999) 999 = Variable Suppressed
2        (999) 999 = Variable Suppressed
3        (999) 999 = Variable Suppressed
4        (999) 999 = Variable Suppressed
                      ...
24843    (999) 999 = Variable Suppressed
24844    (999) 999 = Variable Suppressed
24845    (999) 999 = Variable Suppressed
24846    (999) 999 = Variable Suppressed
24847    (999) 999 = Variable Suppressed
Name: V0771, Length: 24848, dtype: object