In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("./Crimedata.csv")

c:\Users\meske\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (15,40,41,42,43,44,45,46,52,53,54,71,77,78,79,80,82,83,84,85,101,102,103,104,105,130,131,137,153,154,155,156,157,163,164,165,181,182,183,184,191,207,208,209,213,217,233,234,235,236,237,261,262,263,285,286,287,291,307,308,309,310,311,336,337,338,339,361,362,363,366,367,383,384,385,386,387,419,480,547,555,561,562,563,732,734,736,740,752,754,756,760,800,865,866,867,868,869,870,891,917,965,1006,1007,1085,1086,1087,1148,1167,1218,1219,1243,1245,1246,1248,1251,1252,1257,1260,1269,1285,1326,1328,1338,1340,1350,1352,1354,1368,1397,2084,2085,2086,2091) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.rename(columns={"V1267":"Alcohol","V1327":"Marijuana","V1330":"Heroin","V1328":"Cocaine","RV0001":"Age","RV0003":"Race","RV0005":"Sex","V0772":"State"},inplace=True)

In [38]:
import warnings
warnings.filterwarnings("ignore")
extracted_data = data[["Alcohol","Marijuana","Heroin","Cocaine","Age","Sex","Race","State"]]
extracted_data['Alcohol'] = extracted_data['Alcohol'].str.extract(r'([\-0-9]+)').fillna(0).astype(int)
extracted_data['Cocaine'] = extracted_data['Cocaine'].str.extract(r'([\-0-9]+)').fillna(0).astype(int)
extracted_data['Marijuana'] = extracted_data['Marijuana'].str.extract(r'([\-0-9]+)').fillna(0).astype(int)
extracted_data['Heroin'] = extracted_data['Heroin'].str.extract(r'([\-0-9]+)').fillna(0).astype(int)
extracted_data['Sex'] = extracted_data['Sex'].str.extract(r'([A-Za-z]+)')
extracted_data['Race'] = extracted_data['Race'].str.slice(7)
extracted_data.to_csv("./extracted_data.csv")

In [24]:
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent='myapplication')
# lat= []
# lon = []
# for state in extracted_data['State']:
#     location = geolocator.geocode(state)
#     lat.append(location.raw['lat'])
#     lon.append(location.raw['lon'])

        Alcohol  Marijuana  Cocaine    Age    Sex   Race  State
Heroin
-2            1          1        1      1      1      1      1
-1            1          1        1      1      1      1      1
 0        21430      21430    21430  21430  21430  21430  21430
 1         1471       1471     1471   1471   1471   1471   1471
 2         1945       1945     1945   1945   1945   1945   1945

In [ ]:
import plotly.express as px

fig = px.choropleth_mapbox(extracted_data, geojson=counties, locations='fips', color='unemp',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()